<section class="section">
  <div class="container">
    <div class="columns">
    	<% if user_signed_in? %>
    		<%= render 'profile' %>
         <%= render 'feed' %>
    	<% else %>
           <%= render 'feed' %>
      <% end %>

      
      <div>
      <%= react_component("Post", {title: "Test"}) %>
      </div>
    </div>
  </div>
</section>